.section-features {
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 0;
}

.section-features__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  display: flex;
}
.features-item {
  margin-right: 30px;
  width: 270px;

  &:last-child {
    margin-right: 0;
  }
}
.features-item__icon {
  height: 120px;
  background-color: $secondary-fon-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-item__title {
  text-align: left;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}
.features-item__text {
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
